* {
    outline: 0 none !important;
}


body{
	font-family: Arial,'Helvetica Neue',Helvetica, sans-serif;
	background-color: #4F4F4F;
	
}

/*
** Style Elements for game.php
*/
#game_wrapper > #main{
	text-align:center;
	background-color:white;
	margin: 5% auto 0;
	width:100%;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:3px solid black;
}



#question_container{
	margin:0 auto 0;
	width:1204px;

}

#label_container{
	margin:0 auto 0;
	width:1204px;
	height:80px;
}

#label_button_wrapper{
	width:299px;
	height:60px;
	float:left;
}

#label_button_wrapper > .minglebutton:active{
	position:relative;
	top:3px;
}


#video_container{
	background-color:lightgray;
	width:1204px; 
	height:225px;
	text-align:center; 
	/*border:2px solid blue;*/ 
	margin:2% auto 2%;
	position:relative;
	border:3px solid black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.video{
	float:left;
	padding:0;
	margin:0 auto 0;
	width:299px;
	height:224px;
	border:1px solid black;
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;*/
}

/*
**Sytle Elements for signin.php
*/

#signUp_form{
	border: 2px solid green;
	padding: 5px 0 0;
	margin:0 auto 0;
	width: 600px;
	height:275px;
	font-size: 24;
	background:lightgray;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:3px solid black;
	color:black;
}

.question_input{
	border-width: 0;
    color: black;
    cursor: pointer;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 24px;
    left: 0;
    margin: 12px 0 0 11px;
    padding: 8px 10px;
    position: relative;
    top: 0;
    width: 300px;
    z-index: 2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:3px solid black;
	background-color:white;
}


#login_wrapper > #main{
	height: 100%;
	padding: 130px 0 135px;
	position: relative;
	text-align:center;
	font-size:24;
	color:lightgray;
}

#login_form > .login_input{
    border-width: 0;
    color: black;
    cursor: pointer;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 24px;
    left: 0;
    margin: 12px 0 0 11px;
    padding: 8px 10px;
    position: relative;
    top: 0;
    width: 240px;
    z-index: 2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:3px solid black;
	background-color:lightgray;
}

#login_form > .login_input:hover{
	background-color:white;
}

#label_container > .mingle_button {
	/*width:299px;
	height:10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #58c750), color-stop(1, #61ab52) );
	background:-moz-linear-gradient( center top, #58c750 5%, #61ab52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#58c750', endColorstr='#61ab52');
	background-color:#58c750;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #000000;
	display:inline-block;
	color:#EBFF6B;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;*/
}

.mingleButton {
	margin: 12px 0 0 11px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #58c750), color-stop(1, #61ab52) );
	background:-moz-linear-gradient( center top, #58c750 5%, #61ab52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#58c750', endColorstr='#61ab52');
	background-color:#58c750;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #000000;
	display:inline-block;
	color:#EBFF6B;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
}

.mingleButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4548FF), color-stop(1, white) );
	background:-moz-linear-gradient( center top, #4548FF 5%, white 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4548FF', endColorstr='#white');
	background-color:#4548FF;
	color:black;
}

#login_form > .mingleButton:active {
	position:relative;
	left:3px;
}

#login_panel > .mingleButton:active{
	position:relative;
	top:3px;
}

#question_button_wrapper > .mingleButton:active{
	position:relative;
	left:3px;
}




/*
** Style Elements for question.php
*/

#question_wrapper > #main{
	height: 100%;
	padding: 20px 0 135px;
	position: relative;
	text-align:center;
}

#question_form{
	border: 2px solid green;
	margin:0 auto 0;
	padding:5px 0 0;
	width: 600px;
	height:430px;
	font-size: 24;
	background:lightgray;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:3px solid black;
}

.question_input{
	border-width: 0;
    color: black;
    cursor: pointer;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 24px;
    left: 0;
    margin: 6px 0 0 11px;
    padding: 6px 10px;
    position: relative;
    top: 0;
    width: 300px;
    z-index: 2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:3px solid black;
	background-color:#F4F4F4;
}

.question_input:hover{
	background-color:white;
}

#question_form > #button_wrapper{
	margin:10px 50px 10px;
}

#question_form > p{
	margin:14px 0 14px;
}

#main > #wait{
	font-size:24;
	color:lightgray;
}

/*
** Style elements for landing.php
*/

#landing_wrapper > #main {
	height: 100%;
	padding: 80px 0 135px;
	position: relative;
	text-align:center;
	color:lightgray;
}

#landing_bar{
	margin:30px auto;
	width:600px;
	height:32px;
	font-size:34;
	padding-bottom:10px;
	/*border-bottom: 2px solid lightgray;
	/*border:2px solid black;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;*/
}

#option_content{
	margin:24px auto 0;
	width:750px;
	font-size:24;
	/*border:2px solid black;
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	background-color:lightgray;*/
	text-align:left;
}

#selector{
	width:208px;
	/*border: 1px solid green;*/
	float:left;
	padding:0;
	margin:0 0;
	height:190px;
	margin-top:5px;
}

#selector_info{
	width: 538px;
	/*border: 1px solid blue;*/
	float: left;
	padding:0;
	margin: 0 0;
	height:190px;
	margin-top:5px;
}

ul {
	list-style-type:none;
	text-indent:0em;
	padding:0;
	margin:0 0;
}

.landing_option{
	width:199px;
	height:30px;
	float:left;
}

#follow_bar{
	width:500;
	margin:2px auto;
	/*border:1px solid purple;*/
}

#interactive_wrapper{
	height:240px;
}
